body {
	min-height: 100vh;
	background-color: var(--color-background);
	display: flex;
	color: var(--color-text);
	font-family: $font-text;
	line-height: 1.5;
	padding: 100px 30px 30px;

	@include min(sm) {
		padding-top: 5vh;
		padding-bottom: 1vh;
	}

	&.is-loading {
		&:before {
			content: '';
			display: block;
			background-color: rgba(#fff, 0.5);
			width: 100%;
			height: 100vh;
			position: fixed;
			top: 0;
			left: 0;
			z-index: 999;
		}

		&:after {
			content: '';
			width: 60px;
			height: 60px;
			background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjMuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA4NSA4NSIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgODUgODU7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4KCS5zdDB7ZmlsbDojRkZGRkZGO30KPC9zdHlsZT4KPHBhdGggY2xhc3M9InN0MCIgZD0iTTQyLjgsMC41Yy0yMy4yLDAtNDIsMTguOC00Miw0MnMxOC44LDQyLDQyLDQyczQyLTE4LjgsNDItNDJTNjYsMC42LDQyLjgsMC41TDQyLjgsMC41eiIvPgo8cGF0aCBkPSJNNDIuOCw4LjRjMTguOCwwLDM0LjEsMTUuMywzNC4xLDM0LjFTNjEuNiw3Ni42LDQyLjgsNzYuNlM4LjcsNjEuMyw4LjcsNDIuNXMxNS4xLTM0LDMzLjktMzQuMUM0Mi43LDguNCw0Mi43LDguNCw0Mi44LDguNAoJeiBNNDIuOCwwLjVjLTIzLjIsMC00MiwxOC44LTQyLDQyczE4LjgsNDIsNDIsNDJzNDItMTguOCw0Mi00MlM2NiwwLjYsNDIuOCwwLjVMNDIuOCwwLjV6Ii8+CjxwYXRoIGQ9Ik01MS41LDY0LjZjNi44LTAuNiwxMi45LTQuNCwxNi42LTEwLjJjMS0xLjcsMS45LTMuNSwyLjUtNS40YzIuNS04LjUtMC4zLTE3LjctNy4yLTIzLjJjLTUuMy00LjMtMTIuNC01LjgtMTktNC4ybC0xLjEsMC4zCgljMCwwLDAuMSwwLjMsMC4yLDAuNmMwLjYsMS4zLDEsMi42LDEuMiw0YzAuMSwxLjMsMC4xLDIuNywwLDRjLTAuNyw1LjEtNC4xLDkuMy04LjgsMTEuM2MtMi4zLDAuOS00LjgsMS4yLTcuMiwwLjkKCWMtMC40LTAuMS0wLjgtMC4xLTAuOS0wLjFzLTAuMSwwLjItMC4xLDEuMmMwLjMsNy4zLDQuMiwxNCwxMC41LDE3LjhjMi45LDEuOCw2LjIsMi45LDkuNiwzLjFDNDksNjQuNyw1MC4yLDY0LjcsNTEuNSw2NC42CglMNTEuNSw2NC42eiIvPgo8L3N2Zz4K") no-repeat 50%;
			background-size: contain;
			animation: pulse 1.5s infinite linear;
			position: fixed;
			top: calc(50% - 30px);
			left: calc(50% - 30px);
			z-index: 999;
		}
	}
}

#page-ethernet_connection-ask_user {
	position: fixed;
	top: calc(50% - 70px);
	left: 0;
	width: 100%;
	z-index: 1000;
	color: blue;
}

@keyframes pulse {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

header {
	position: relative;
}

#app {
	width: 100%;
	max-width: 650px;
	min-height: 600px;
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0 auto;

	&-header {
		flex-shrink: 0;
		color: var(--color-primary);
		font-size: 36px;
		font-family: $font-heading;
		font-weight: 900;
		margin-bottom: 18px;
		text-align: center;
	}

	&-wrap {
		flex-grow: 1;
		padding-bottom: 95px;
		position: relative;
	}

	&-footer {
		flex-shrink: 0;
		color: var(--color-primary);
		text-align: center;
		padding: 45px 0 25px;
		opacity: 40%;

		p {
			margin: 0;
		}
	}

	&-footer-fw_ver {
		font-size: smaller;
	}
}

#logo {
	width: 100px;
	height: 24px;
	fill: var(--color-primary);
	margin-bottom: 10px;
}

#language-switcher {
	position: absolute;
	right: 0;
	top: -1em;
}

.language-switcher > ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.language-switcher > ul > li {
	margin: 0;
	list-style-type: none;
	display: inline-block;
	color: #0c3c3d;
	border: 0;
}

.language-switcher > ul > li:last-child {
	border-right: 0;
}

.language-switcher > ul > li > a {
	cursor: default;
	color: var(--color-primary);
	padding: 0 0.3em 0 0;
	margin: 0;
	border: 0;
	border-right: 1px solid rgb(29, 180, 167);
}

.language-switcher > ul > li > a.language-switcher-active {
	color: var(--color-text);
}

.language-switcher > ul > li:last-child > a {
	border-right: 0;
}

.language-switcher > ul > li > a:hover {
	cursor: pointer;
}
.language-switcher > ul > li > a.language-switcher-active:hover {
	cursor: default;
}

section {
	height: 100%;
	min-height: 100%;
}

#page-software_update_progress,
#page-finished {
	margin-bottom: -95px;
}

a {
	transition: all 0.2s;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin-top: 0;
	margin-bottom: 1em;
}

h1 {
	font-size: 18px;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 32px;
	text-align: center;
}

h2 {
	font-size: 16px;
	font-weight: 800;
}

h3 {
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
}

p {
	margin-top: 0;
}

[lang=fi] {
	display: none;
}

.hidden {
	display: none;
}

table {
	width: 100%;
}

.font-bold {
	font-weight: 600;
}

.indent {
	margin-left: 28px;
}

fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

progress {
	width: 100%;
	max-width: 355px;
	height: 4px;
	background-color: rgba(#00d0ba, 0.2);
	border: none;
	padding: 0;
	margin: 14px 0 10px;

	&[value]::-webkit-progress-bar {
		background-color: rgba(#00d0ba, 0.2);
	}

	&[value]::-webkit-progress-value {
		background-color: var(--color-primary);
	}
}

.progressbar-container {
	margin-bottom: 34px;
}

.progressbar {
	display: flex;
	list-style: none;
	margin: 0 -2.5px;
	padding: 0;

	li {
		flex-grow: 1;
		height: 4px;
		position: relative;
		background-color: var(--color-primary-20);
		margin: 0 2.5px;

		&.active {
			background-color: var(--color-primary);
		}
	}
}

/*============================================*/
.button-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	bottom: 0;
	left: 0;
}

.btn {
	min-width: 155px;
	display: inline-block;
	background-color: var(--color-primary);
	color: white;
	font-family: $font-heading;
	font-size: 14px;
	font-weight: 800;
	letter-spacing: 1px;
	line-height: 1;
	border: none;
	border-radius: 30px;
	padding: 14px 30px;
	white-space: normal;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s;

	&:hover,
	&:focus,
	&:active {
		background-color: var(--color-primary-hover);
		color: white;
	}

	&.disable-click {
		pointer-events: none;
		opacity: 40%;
	}
}

.block-centered .btn {
	margin: 0 auto;
}

.weekday-btn-group {
	margin-bottom: 30px;
}

.btn-back {
	background: transparent;
	color: var(--color-primary);
	text-align: center;
	letter-spacing: 1px;
	padding: 8px 20px;
	white-space: nowrap;

	&:hover {
		color: var(--color-primary-hover);
	}
}

.btn-dropdown {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 14px 0;
	text-decoration: none;
	cursor: pointer;

	&.disable-click {
		pointer-events: none;
		opacity: 40%;
	}

	h2 {
		margin: 0 20px 0 0;
		padding: 0;
	}

	&-arrow-down,
	&-arrow-up {
		width: 12px;
		height: 12px;
		background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4KICAgIDxwYXRoIGQ9Ik0yMDcuMDI5IDM4MS40NzZMMTIuNjg2IDE4Ny4xMzJjLTkuMzczLTkuMzczLTkuMzczLTI0LjU2OSAwLTMzLjk0MWwyMi42NjctMjIuNjY3YzkuMzU3LTkuMzU3IDI0LjUyMi05LjM3NSAzMy45MDEtLjA0TDIyNCAyODQuNTA1bDE1NC43NDUtMTU0LjAyMWM5LjM3OS05LjMzNSAyNC41NDQtOS4zMTcgMzMuOTAxLjA0bDIyLjY2NyAyMi42NjdjOS4zNzMgOS4zNzMgOS4zNzMgMjQuNTY5IDAgMzMuOTQxTDI0MC45NzEgMzgxLjQ3NmMtOS4zNzMgOS4zNzItMjQuNTY5IDkuMzcyLTMzLjk0MiAweiIgZmlsbD0iIzAwZDBiYSIgLz4KPC9zdmc+Cg==") no-repeat 50%;
		background-size: contain;
	}

	&-arrow-up {
		transform: rotate(180deg);
	}
}

#page-wifi_connection-advanced-dropdown {
	margin-top: 12px;
}

#button-container_page-welcome-button-get-started {
	justify-content: center;
	margin-top: 70px;
}

.ingress {
	line-height: 1.5;
	padding-bottom: 5px;

	p {
		margin: 0 0 1.625em;
		text-align: justify;
	}
}

.border {
	border-bottom: 1px solid var(--color-divider);
	margin: 8px 0;
}

.border-hidden {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 20px;
}

.control {
	display: block;
	line-height: 24px;
	position: relative;
	padding: 3px 0 3px 28px;
	margin-top: 0;
	cursor: pointer;

	&-float-left {
		float: left;
	}

	&-float-left-with_info {
		float: left;
		width: calc(100% - 3em);
	}

	+ .control {
		margin-top: 5px;
	}

	input {
		display: none;

		&:disabled ~ .control_indicator {
			opacity: 40%;
			pointer-events: none;
		}

		&:checked ~ .control_indicator:after {
			display: block;
		}
	}
}

.control_indicator {
	height: 16px;
	width: 16px;
	background: white;
	border: 1px solid var(--color-border);
	position: absolute;
	top: 7px;
	left: 0;

	&:after {
		content: "";
		position: absolute;
		display: none;
	}
}

.control-radio .control_indicator {
	border-radius: 50%;
}

.control-radio .control_indicator:after {
	left: 3px;
	top: 3px;
	width: 8px;
	height: 8px;
	background: var(--color-primary);
	border-radius: 50%;
}

.control-checkbox .control_indicator:after {
	left: 2px;
	top: 2px;
	width: 10px;
	height: 10px;
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj4KICAgIDxwYXRoIGQ9Ik0xNzMuODk4IDQzOS40MDRsLTE2Ni40LTE2Ni40Yy05Ljk5Ny05Ljk5Ny05Ljk5Ny0yNi4yMDYgMC0zNi4yMDRsMzYuMjAzLTM2LjIwNGM5Ljk5Ny05Ljk5OCAyNi4yMDctOS45OTggMzYuMjA0IDBMMTkyIDMxMi42OSA0MzIuMDk1IDcyLjU5NmM5Ljk5Ny05Ljk5NyAyNi4yMDctOS45OTcgMzYuMjA0IDBsMzYuMjAzIDM2LjIwNGM5Ljk5NyA5Ljk5NyA5Ljk5NyAyNi4yMDYgMCAzNi4yMDRsLTI5NC40IDI5NC40MDFjLTkuOTk4IDkuOTk3LTI2LjIwNyA5Ljk5Ny0zNi4yMDQtLjAwMXoiIGZpbGw9IiMwMGQwYmEiIC8+Cjwvc3ZnPgo=") no-repeat 50%;
	background-size: contain;
}

.control-checkbox .control_indicator::before,
.control-radio .control_indicator::before {
	content: "";
	display: block;
	position: absolute;
}

.wifi-list {
	margin: 10px 0 70px 0;
}

.mouse-cursor-default {
	cursor: default;
}

.block-centered {
	display: flex;
	justify-content: center;
	text-align: center;
}

.block-left {
	display: flex;
	justify-content: flex-start;
	text-align: left;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
textarea,
select {
	width: 100%;
	color: var(--color-text);
	border: 1px solid var(--color-border);
	border-radius: 3px;
	padding: 10px 15px;
	margin: 12px 0 15px;
	outline: none;
	transition: all 0.3s;

	&:hover,
	&:focus {
		border-color: var(--color-primary);
	}
}

select {
	background: white url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDI0LjMuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCAxMSA3IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMSA3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxzdHlsZSB0eXBlPSJ0ZXh0L2NzcyI+Cgkuc3Qwe2ZpbGw6IzQ3REFDRDt9Cjwvc3R5bGU+CjxnPgoJPGc+CgkJPGc+CgkJCTxwb2x5Z29uIGNsYXNzPSJzdDAiIHBvaW50cz0iMTAuNiwwLjIgMC40LDAuMiA1LjUsNi44IAkJCSIvPgoJCTwvZz4KCTwvZz4KPC9nPgo8L3N2Zz4K") no-repeat calc(100% - 15px) 50%;
	background-size: 12px 12px;
	padding-right: 32px;
	margin-top: 0;
	-moz-appearance: none;
	-webkit-appearance: none;
	&::-ms-expand {
		display: none;
	}
}

.input-primary {
	background-color: var(--color-primary-20);
	border-color: var(--color-primary-20);
}

#page-wifi_connection-ssid_password {
	width: 280px;
	padding-top: 10px;

	@include min(sm) {
		width: 350px;
	}
}

#wifi-connection-status-block {
	padding-bottom: 30px;
}

.center_flex_wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input-custom_server {
	max-width: 300px;
}

.blur {
	filter: blur(2px);
}

.button-info {
	position: relative;
	border-radius: 50%;
	border: 0;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	width: var(--info-size);
	height: var(--info-size);
	line-height: 1.6em;
	font-family: "Montserrat", sans-serif;
	color: rgba(255, 255, 255, 0.8);
	background-color: rgba(68, 201, 185, 0.6);
	float: right;
	margin-top: var(--info-margin-top);
	margin-bottom: var(--info-margin-bottom);
	margin-right: var(--info-border-width);
}

.button-info:hover {
	width: calc(var(--info-size) + 2 * var(--info-border-width));
	height: calc(var(--info-size) + 2 * var(--info-border-width));
	border: var(--info-border-width) solid #EDF2F7;
	margin-top: calc(var(--info-margin-top) - var(--info-border-width));
	margin-bottom: calc(var(--info-margin-bottom) - var(--info-border-width));
	margin-right: 0;
	cursor: pointer;
}

.button-info-overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 999;
}
.button-info-overlay:target {
	visibility: visible;
	opacity: 1;
}
.button-info-popup {
	margin: 70px auto;
	padding: 20px 30px 20px 20px;
	background: var(--color-background);
	border-radius: 10px;
	width: 70%;
	position: relative;
	transition: all 5s ease-in-out;
}
.button-info-content {
	color: var(--color-text);
	text-align: justify;
}
.button-info-popup-close {
	position: absolute;
	top: 0;
	right: 10px;
	transition: all 200ms;
	font-size: 28px;
	font-weight: bold;
	text-decoration: none;
	color: var(--color-primary);
	cursor: pointer;
}
.button-info-popup-close:hover {
	color: var(--color-primary-hover);
}

table {
	border-collapse: separate;
	border-spacing: 0 8px;
}

.gr {
	color: var(--color-primary);
}

.rd {
	color: red;
}

.bl {
	color: var(--color-text);
}

.w0,
.w1,
.w2,
.w3,
.pw {
	width: 24px;
	height: 24px;
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	margin-right: 20px;
}

.w0 {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NDAgNTEyIj4KICAgIDxwYXRoIGQ9Ik02MzQuOTEgMTU0Ljg4QzQ1Ny43NC04Ljk5IDE4Mi4xOS04LjkzIDUuMDkgMTU0Ljg4Yy02LjY2IDYuMTYtNi43OSAxNi41OS0uMzUgMjIuOThsMzQuMjQgMzMuOTdjNi4xNCA2LjEgMTYuMDIgNi4yMyAyMi40LjM4IDE0NS45Mi0xMzMuNjggMzcxLjMtMTMzLjcxIDUxNy4yNSAwIDYuMzggNS44NSAxNi4yNiA1LjcxIDIyLjQtLjM4bDM0LjI0LTMzLjk3YzYuNDMtNi4zOSA2LjMtMTYuODItLjM2LTIyLjk4ek0zMjAgMzUyYy0zNS4zNSAwLTY0IDI4LjY1LTY0IDY0czI4LjY1IDY0IDY0IDY0IDY0LTI4LjY1IDY0LTY0LTI4LjY1LTY0LTY0LTY0em0yMDIuNjctODMuNTljLTExNS4yNi0xMDEuOTMtMjkwLjIxLTEwMS44Mi00MDUuMzQgMC02LjkgNi4xLTcuMTIgMTYuNjktLjU3IDIzLjE1bDM0LjQ0IDMzLjk5YzYgNS45MiAxNS42NiA2LjMyIDIyLjA1LjggODMuOTUtNzIuNTcgMjA5Ljc0LTcyLjQxIDI5My40OSAwIDYuMzkgNS41MiAxNi4wNSA1LjEzIDIyLjA1LS44bDM0LjQ0LTMzLjk5YzYuNTYtNi40NiA2LjMzLTE3LjA2LS41Ni0yMy4xNXoiIGZpbGw9IiMwMGQwYmEiIC8+Cjwvc3ZnPgo=");
}

.w1,
.w3 {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NDAgNTEyIj4KICAgIDxwYXRoIGQ9Ik02MzUuMyAxNzcuOWwtMzQuMiAzNGMtNi4yIDYuMS0xNiA2LjItMjIuNC40LTE0Ni0xMzMuNy0zNzEuMy0xMzMuNy01MTcuMiAwLTYuNCA1LjktMTYuMiA1LjctMjIuNC0uNGwtMzQuMi0zNC0uNS0uNWMtNi02LjQtNS42LTE2LjUuOS0yMi41QzE4Mi4yLTguOSA0NTcuNy05IDYzNC45IDE1NC45Yy4yLjIuNC4zLjUuNSA2LjIgNi4zIDYuMSAxNi4zLS4xIDIyLjV6IiBmaWxsPSIjMDBkMGJhIiBvcGFjaXR5PSIwLjQiIC8+CiAgICA8cGF0aCBkPSJNMzIwIDM1MmMtMzUuMyAwLTY0IDI4LjctNjQgNjRzMjguNyA2NCA2NCA2NCA2NC0yOC43IDY0LTY0LTI4LjctNjQtNjQtNjR6bTIwMy41LTgyLjhsLS44LS44Yy0xMTUuMy0xMDEuOS0yOTAuMi0xMDEuOC00MDUuMyAwLTYuNSA1LjgtNy4xIDE1LjgtMS40IDIyLjMuMy4zLjUuNi44LjhsMzQuNCAzNGM2IDUuOSAxNS42IDYuMyAyMiAuOCA4NC03Mi42IDIwOS43LTcyLjQgMjkzLjUgMCA2LjQgNS41IDE2IDUuMiAyMi0uOGwzNC40LTM0YzYuNC02IDYuNS0xNiAuNC0yMi4zeiIgZmlsbD0iIzAwZDBiYSIgLz4KPC9zdmc+Cg==");
}

.w2 {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2NDAgNTEyIj4KICAgIDxwYXRoIGQ9Ik02MzQuOSAxNTQuOUM0NTcuNy05IDE4Mi4yLTguOSA1LjEgMTU0LjljLTYuNCA2LTYuOCAxNi0uOSAyMi41LjIuMi4zLjQuNS41bDM0LjIgMzRjNi4yIDYuMSAxNiA2LjIgMjIuNC40IDE0NS45LTEzMy43IDM3MS4zLTEzMy43IDUxNy4yIDAgNi40IDUuOSAxNi4yIDUuNyAyMi40LS40bDM0LjItMzRjNi4zLTYuMiA2LjMtMTYuMi4yLTIyLjUgMC0uMi0uMi0uNC0uNC0uNXpNNTIyLjcgMjY4LjRjLTExNS4zLTEwMS45LTI5MC4yLTEwMS44LTQwNS4zIDAtNi41IDUuOC03LjEgMTUuOC0xLjQgMjIuMy4zLjMuNS42LjguOGwzNC40IDM0YzYgNS45IDE1LjYgNi4zIDIyLjEuOCA4My45LTcyLjYgMjA5LjctNzIuNCAyOTMuNSAwIDYuNCA1LjUgMTYgNS4yIDIyLS44bDM0LjQtMzRjNi4yLTYuMSA2LjQtMTYuMS4zLTIyLjQtLjMtLjItLjUtLjQtLjgtLjd6IiBmaWxsPSIjMDBkMGJhIiBvcGFjaXR5PSIwLjQiIC8+CiAgICA8cGF0aCBkPSJNMzIwIDM1MmMzNS4zIDAgNjQgMjguNyA2NCA2NHMtMjguNyA2NC02NCA2NC02NC0yOC43LTY0LTY0IDI4LjctNjQgNjQtNjR6IiBmaWxsPSIjMDBkMGJhIiAvPgo8L3N2Zz4K");
}

.w3 {
	opacity: 0.4;
}

.pw {
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj4KICAgIDxwYXRoIGQ9Ik00MDAgMjI0aC0yNHYtNzJDMzc2IDY4LjIgMzA3LjggMCAyMjQgMFM3MiA2OC4yIDcyIDE1MnY3Mkg0OGMtMjYuNSAwLTQ4IDIxLjUtNDggNDh2MTkyYzAgMjYuNSAyMS41IDQ4IDQ4IDQ4aDM1MmMyNi41IDAgNDgtMjEuNSA0OC00OFYyNzJjMC0yNi41LTIxLjUtNDgtNDgtNDh6bS0xMDQgMEgxNTJ2LTcyYzAtMzkuNyAzMi4zLTcyIDcyLTcyczcyIDMyLjMgNzIgNzJ2NzJ6IiBmaWxsPSIjMDBkMGJhIiAvPgo8L3N2Zz4K");
}

.overlay-container {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.5);
}

.overlay {
	width: 90%;
	max-width: 360px;
	max-height: 90vh;
	background-color: white;
	font-size: 18px;
	font-weight: 600;
	padding: 40px 35px;
	box-shadow: 0 0 15px rgba(#000, 0.08);
	overflow-y: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	@include min(lg) {
		max-width: 450px;
		font-size: 20px;
		padding: 55px 50px;
	}
}

.software_update-status {
	font-weight: 600;
}

#software_update_progress-status-completed_successfully {
	line-height: 1.5;

	.gr,
	.rd {
		font-size: 18px;
	}
}
