// Colors
:root {
	--color-primary: #00d0ba;
	--color-primary-20: rgba(0, 208, 186, 0.2);
	--color-primary-hover: #35ad9f;
	--color-background: #e2fef8;
	--color-text: #083c3d;
	--color-notification: #0808dd;
	--color-border: #d6eee9;
	--color-divider: rgba(75, 201, 186, 0.4);
	--info-border-width: 0.75em;
	--info-size: 1.3em;
	--info-margin-top: 0.35em;
	--info-margin-bottom: 0.95em;
	--input-margin-top: 1px;
	--input-margin-bottom: 15px;
	--input-border: 1px;
	--input-padding-top-and-bottom: 8px;
	--input-padding-right-and-left: 10px;
	--fontawesome-icon-height: calc(1em * 1.5);
	--fontawesome-icon-width: calc(1em * 1.5 * 576 / 512);
}

// Grid breakpoints
$grid-breakpoints: (
				xxs: 410px,
				xs: 450px,
				sm: 576px,
				md: 768px,
				lg: 992px,
				xl: 1280px,
				xxl: 1440px,
);

$grid-breakpoints-max: (
				xxs: 409px,
				xs: 449px,
				sm: 575px,
				md: 767px,
				lg: 991px,
				xl: 1279px,
				xxl: 1439px,
);

// Fonts
$font-text: 'Mulish', sans-serif;
$font-heading: 'Montserrat', sans-serif;

// latin-ext
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../assets/fonts/Mulish-ExtraBold-latin-ext.woff') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('../assets/fonts/Mulish-ExtraBold-latin.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// latin-ext
@font-face {
	font-family: 'Mulish';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('../assets/fonts/Mulish-SemiBoldItalic-latin-ext.woff') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
	font-family: 'Mulish';
	font-style: italic;
	font-weight: 600;
	font-display: swap;
	src: url('../assets/fonts/Mulish-SemiBoldItalic-latin.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// latin-ext
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../assets/fonts/Mulish-SemiBold-latin-ext.woff') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('../assets/fonts/Mulish-SemiBold-latin.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

// latin-ext
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/Mulish-Regular-latin-ext.woff') format('woff');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
// latin
@font-face {
	font-family: 'Mulish';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url('../assets/fonts/Mulish-Regular-latin.woff') format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Montserrat';
	src: url('../assets/fonts/Montserrat-ExtraBold.woff2') format('woff2'),
	url('../assets/fonts/Montserrat-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}
